/****************/
/* HEADER */
/****************/

header {
	background-color:rgb(29, 90, 41);
	color: white;
	display:flex;
	align-items: center;
	margin-bottom: 4em;

	flex-wrap:wrap;
}

header div {
	order:1;
	width:100%;
	background-color:rgb(29, 90, 41);
	display:flex;
	justify-content:center;
	gap:1em;
}

@media (width > 40em){
	header div img{
		size: 100px;
	}
}

header div img{
	width: max(40%, 12em);
	align-self: center;
}

header div:nth-of-type(1) a {
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	display: block;
  }


/****************/
/* MAIN */
/****************/

main {
	color: black;
	margin: 1em;
}
button:hover{
	cursor: pointer;
}

a:hover{
	cursor: pointer;
}

p{
	font-size: 1em;
}

h3{
	font-size: 1.2em;
}


/****************/
/* FOOTER */
/****************/

footer{
	background-color: rgb(29, 90, 41);
	color: white;
	margin-top: 5em;
}
footer a ul li{
	color: white;
	list-style: none;
}
