


/****************/
/* HEADER */
/****************/


/****************/
/* MAIN */
/****************/


/* eerste section (fotos enzo) */

section:first-of-type {
	display:grid;
	grid-template-rows:auto, max-content;
	gap:1em;
}

section > img {
	grid-row-start:1;
	grid-column-start:1;
	
	width:30em;
    display: flex;
    align-items: center;
}

section form label img{
    width: 5.5em;
}

section:has( [value="achterkantshirt"]:checked ) img:nth-of-type(1) {
	z-index:1;
} 

section:has( [value="voorkantshirt"]:checked ) img:nth-of-type(2) {
	z-index:1;
} 

@media (width > 40em) {
	section:nth-of-type(1) {
		grid-template-columns:max-content 1fr;	
	}
	
	section > img {
		grid-column-start:2;
	}
	
	section form {
		display:flex;
		flex-direction:column;
	}
}


/* Onder de fotos */
section:nth-of-type(2) h1{
    font-size: 2em;
    margin-bottom: 0;
}

section:nth-of-type(2) a{
    color: rgb(29, 90, 41);;
    font-size: 1.3em;
}

section:nth-of-type(2) h2{
    font-size: 1.5em;
    margin-top: 0;
}

/* Cart en link buttons */
section:nth-of-type(2) ul li{
	list-style: none;
}

section:nth-of-type(2) ul li:nth-of-type(2){
	margin-top: 0.5em;
}

section:nth-of-type(2) ul li:nth-of-type(1) button {
	color: white;
	font-size: 1.5em;
	background-color: rgb(29, 90, 41);
	width: 80%;
}
  
section:nth-of-type(2) ul li:nth-of-type(1) button:hover {
	color: black;
	background-color: rgb(119, 206, 122);
	cursor: pointer;
}

section:nth-of-type(2) ul li:nth-of-type(2) button {
	color: white;
	font-size: 1.5em;
	background-color: rgb(14, 166, 44);
	width: 80%;
}
  
section:nth-of-type(2) ul li:nth-of-type(2) button:hover {
	color: black;
	background-color: rgb(155, 202, 165);
	cursor: pointer;
}

/* Ajax en Umbro links */
section:nth-of-type(3) a:nth-of-type(1){
	color: white;
	font-size: 1em;
	background-color: black;
	padding: 1em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	border-radius: 1em;
}

section:nth-of-type(3) a:nth-of-type(2){
	color: white;
	font-size: 1em;
	background-color: red;
	padding: 1em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	border-radius: 1em;
}

/****************/
/* FOOTER */
/****************/
